.search-form {
  position: relative;

}

.search-field {
  width: 100%;
  outline: none;
  height: 52px;
  padding: 20px 16px;
  border: 2px solid #e0e9f0;
  border-radius: 5px;
  color: #282b2f;
}

.icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 333px;
}

.icon ~ .search-field {
  padding-right:  50px;
}

.button-bottom {
  outline: none;
  height: 52px;
  border-radius: 5px;
  border: 2px solid #009688;
  background-color: #ffffff;
}
  
.button-link {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
}

.button-bottom:hover {
  text-decoration: underline;
}

.name-field {
  height: 52px;
  border-radius: 5px;
  border: 2px solid #e0e9f0;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 16px;
  padding: 20px;
  font-size: 16px;
  outline: none;
}

.email-field {
  height: 52px;
  border-radius: 5px;
  border: 2px solid #e0e9f0;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 16px;
  padding: 20px;
  font-size: 16px;
  outline: none;
}

.textarrea {
  height: 140px;
  border-radius: 5px;
  border: 2px solid #e0e9f0;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  margin-bottom: 16px;
  font-size: 16px;
  resize: none;
  outline: none;
}

.button-form {
  height: 52px;
  border-radius: 5px;
  background-color: #009688;
  width: 100%;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.button-form:hover {
  background-color: #fff;
  color: #009688;
  border: 3px solid #009688;
}

.textarrea::placeholder,
.name-field::placeholder,
.email-field::placeholder,
.search-field::placeholder {
  color: #bdc6ca;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}