a, .link {
    color: #009688;
    font-weight: 500;
    text-decoration: underline;
}

.link-bradcrumbs {
    text-decoration: none;
    color: #282b2f;   
}

.link-italic {
    color: #1976d2;
    font-style: italic;
    line-height: 28px;
    text-decoration: underline;
}

.link-italic::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #546e7a;
    vertical-align: middle;
    margin-right: 13px;
}

.link-table {
    color: #1976d2;
    font-style: italic;
    line-height: 38px;
}

.link-table:hover, 
.link-italic:hover {
    color: #004a43;
}

.link-card {
    padding-bottom: 29px;
}

.link-social {
    text-decoration: none;
    font-size: 20px;
    color: #546e7a;
}

.link-social:hover {
    color: #009688;
}